@font-face {
  font-family: 'MinaBold';
  src: url(../customFonts/Mina-Bold.ttf);
}
@font-face {
  font-family: 'amarbangla';
  src: url(../customFonts/AmarBangla.ttf);
  font-weight: bold;
}
body
{
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: amarbangla;
}
.homepage
{
  background-image: url('../img/home2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #212121; */
  height: 939px;
  /* opacity: 0.8; */

}
.homepage .img-area
{
  position: relative;
}
.homepage .img-area img
{
  width: 350px;
  height: 550px;
}
.homepage .img-area .first-img
{
    position: absolute;
    top: 162px;
    left: 250px;


}
.homepage .img-area .second-img
{
    position: absolute;
    top: 250px;
    left: 400px;
}
.homepage .img-area img
{
  border-radius: 180px;
  transition: 200ms;
}
.homepage .img-area img:hover
{
  box-shadow: 0 0 10px  #E3F2FD;
}
.homepage .menu-area
{
  /* border-bottom: 1px solid #fff; */
}

.homepage .logo-area .logo
{
    float: left;
    position: absolute;
    top: 40px;
    left: 310px;
    text-decoration: none;
    font-size: 20px;
    font-family: MinaBold;
    font-size: 35px;
    color: #E91E63;

}
.homepage .logo-area .logo small
{
  font-size: 12px;
}
.homepage .menu-area a
{
  float: right;
  display: block;
  text-decoration: none;
  color: #000;
  margin: 40px 60px;
  background: #fff;
  padding: 14px 32px;
  border-radius: 30px;
  font-weight: bold;
  transition: 500ms;
  


}
.homepage .menu-area a:hover
{
  color: #000;
  margin: 40px 60px;
  background: #fff;
  padding: 14px 45px;
  border-radius: 30px;
  /* font-weight: bold; */



}
.homepage .heading-area
{
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%,-50%);
}
.homepage .heading-area h1
{
  color: #E91E63;
  font-size: 45px;
}
.homepage .heading-area a
{
  text-decoration: none;

  color: #000;
  margin: 10px 60px 40px 0;
  background: #fff;
  padding: 14px 32px;
  border-radius: 30px;
  font-weight: bold;
  transition: 500ms;
  /* margin-top: 10px; */
  display: inline-block;
}
.homepage .heading-area a:hover
{
  color: #000;
  margin: 10px 60px 40px 0;
  background: #fff;
  padding: 14px 45px 14px 45px;
  border-radius: 30px;
  font-weight: bold;
}
