body
{
  margin:0;
  padding: 0;
  background-image: url('../img/reg-back2.jpg');
}
/* .box
{
  height: 300px;
  width: 1000px;
  background-color: #FAFAFA;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%,-50%);
} */
.main
{
  height: 500px;
  width: 450px;
  background-color: #F5F5F5;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
}
.main h1
{
  padding: 30px;
  margin-top: 20px;
}

.main input
{


  padding: 8px 0;
}
.main input[type="text"],input[type="password"],input[type="email"]
{
  display: block;
  margin: 30px auto;
  padding: 7px 80px ;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid black;
  outline: none;
  background:none;

}
.main input[type="submit"]
{
  display: block;
  margin: auto;
  padding: 7px 12px;
  margin-top: 20px;
}
.main input::placeholder
{
  color: #283593;
  text-align: center;
}
.main .form-footer
{
  text-align: center;
  margin-top: 40px;
  background-color: #212121;
  padding: 16px 0;
}
.main .form-footer  a
{
  text-decoration: none;
  color: white;
}
